@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
  --sidebar-bg: #1e293b;
  --sidebar-text: #e2e8f0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
